<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.myapp.finalproject.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCategoryFormController</display-name>
    <servlet-name>AddCategoryFormController</servlet-name>
    <servlet-class>com.myapp.finalproject.controller.AddCategoryFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCategoryFormController</servlet-name>
    <url-pattern>/AddCategoryFormController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUserAccountController</display-name>
    <servlet-name>ManageUserAccountController</servlet-name>
    <servlet-class>com.myapp.finalproject.controller.ManageUserAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUserAccountController</servlet-name>
    <url-pattern>/ManageUserAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddItemFormController</display-name>
    <servlet-name>AddItemFormController</servlet-name>
    <servlet-class>com.myapp.finalproject.controller.AddItemFormController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItemFormController</servlet-name>
    <url-pattern>/AddItemFormController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToController</display-name>
    <servlet-name>AddToController</servlet-name>
    <servlet-class>com.myapp.finalproject.controller.AddToController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToController</servlet-name>
    <url-pattern>/AddToController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccountController</display-name>
    <servlet-name>MyAccountController</servlet-name>
    <servlet-class>com.myapp.finalproject.controller.MyAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccountController</servlet-name>
    <url-pattern>/MyAccountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageMessageController</display-name>
    <servlet-name>ManageMessageController</servlet-name>
    <servlet-class>com.myapp.finalproject.controller.ManageMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageMessageController</servlet-name>
    <url-pattern>/ManageMessageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminManageMessageController</display-name>
    <servlet-name>AdminManageMessageController</servlet-name>
    <servlet-class>com.myapp.finalproject.controller.AdminManageMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManageMessageController</servlet-name>
    <url-pattern>/AdminManageMessageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUserController</display-name>
    <servlet-name>SearchUserController</servlet-name>
    <servlet-class>com.myapp.finalproject.controller.SearchUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserController</servlet-name>
    <url-pattern>/SearchUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageItemController</display-name>
    <servlet-name>ManageItemController</servlet-name>
    <servlet-class>com.myapp.finalproject.controller.ManageItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageItemController</servlet-name>
    <url-pattern>/ManageItemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditController</display-name>
    <servlet-name>EditController</servlet-name>
    <servlet-class>com.myapp.finalproject.controller.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditController</servlet-name>
    <url-pattern>/EditController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartController</display-name>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>com.myapp.finalproject.controller.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackToController</display-name>
    <servlet-name>BackToController</servlet-name>
    <servlet-class>com.myapp.finalproject.controller.BackToController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackToController</servlet-name>
    <url-pattern>/BackToController</url-pattern>
  </servlet-mapping>
</web-app>